<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="Mirasvit_DynamicCategory::addDynamicCategoryOnApiProductSave" type="Mirasvit\DynamicCategory\Plugin\Api\AddDynamicCategoryOnProductSavePlugin"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="Mirasvit_DynamicCategory::SaveDynamicCategoryOnCategorySave" type="Mirasvit\DynamicCategory\Plugin\Backend\SaveDynamicCategoryOnCategorySavePlugin"/>
    </type>
</config>
