<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dynamic_category" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <label>Dynamic Category</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_DynamicCategory::config</resource>

            <group id="general" showInDefault="1" sortOrder="5">
                <label>General Settings</label>

                <field id="integrate_with_reindex" translate="label" type="select" sortOrder="15" showInDefault="1">
                    <label>Run with Reindex Process</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Reindex dynamic categories during reindex process. When disable, dynamic categories will be only reindexed by the command: bin/magento mirasvit:dynamic-category:reindex</comment>
                </field>

                <field id="excluded_product_visibility" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Exclude Products</label>
                    <source_model>Mirasvit\DynamicCategory\Model\Config\Source\ExcludeProducts</source_model>
                    <comment>Excluding children products will influence the including parent product in a category</comment>
                </field>

            </group>
        </section>
    </system>
</config>
